*{
    padding:0;
    margin:0;
    transition: all 0.3s ease-in-out 0s;
}
body{
    height:100%;
    background-image:url('../assets/cover.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
   
}
header{
    /* text-align: center; */
}
header nav {
    text-align: center;
    background-color: black;
    height:50px;
    overflow: hidden;
}
header nav img{
    float:left;
    margin-top: 13px;
    margin-left:35px;
    margin-right:5px;
}
 header nav ul{
    list-style-type:none;
    margin:10px;
}
 header nav ul li{
    display:inline;
    overflow:hidden;
  
}

 header nav ul li a{
    color:white;
    font-size:larger;
    text-decoration:none; 
    float:left;
    width:13%;
    height:25px;
     padding:8px 0; /*ana ba3mel padding ll link around the text */
}
header nav ul li a:hover{
    background-color: white;
    color:black;
    border-radius: 5px;
}
header nav ul li input{
    margin-right:80px;
    margin-top: 10px;
    width:170px;
    float:right;
    border-radius: 7px;
}

.parallax{
    background-image: url('../assets/applecompany.jpg');
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:20px;
}
header #content h1{
    margin:30px;
    text-align: center;
    font-size: x-large;
}
header #content h1:hover{
   background-color: white;
   color:black;
    font-size:xx-large;
}
header #content .watch{
    background-image: url('../assets/new-watch.jpg');
    border-radius:10px;
    width:1024px;
    height:576px;
    margin-bottom:20px;
    margin-left:260px;
}
header #content .watch section{
    height:40px;
    background-color: rgba( 12 ,28,112 ,0.5 );
    position:relative;
    top: 535px;
    left:2px;
    right:5px;
    overflow:hidden;
}
header #content .watch section h2{
    margin-bottom:10px;
} 

header #content .watch section:hover {
  position:relative;
  top: 470px;
  left:2px;
  right:5px;
  background-color: rgba( 12 ,28,112 ,0.5 );
  text-align: justify;
  line-height: 25px;
  border-radius: 12px;
  height: 107px;
}

header #content .iphonexs section{
    height:40px;
    background-color: rgba( 12 ,28,112 ,0.5 );
    position:relative;
    top: 535px;
    left:2px;
    right:5px;
    overflow:hidden;
}
header #content .iphonexs section h2{
    margin-bottom:10px;
}

header #content .iphonexs section:hover {
    position:relative;
    top: 470px;
    left:2px;
    right:5px;
    background-color: rgba( 12 ,28,112 ,0.5 );
    text-align: justify;
    line-height: 25px;
    border-radius: 12px;
    height: 107px;
 }



header #content .iphonexr section{
    height:40px;
    background-color: rgba( 12 ,28,112 ,0.5 );
    position:relative;
    top: 535px;
    left:2px;
    right:5px;
    overflow:hidden;
}
header #content .iphonexr section h2{
    margin-bottom:10px;
}

header #content .iphonexr section:hover {
    position:relative;
    top: 470px;
    left:2px;
    right:5px;
    background-color: rgba( 12 ,28,112 ,0.5 );
    text-align: justify;
    line-height: 25px;
    border-radius: 12px;
    height: 107px;
 }



header #content .iphonexs{
    background-image: url('../assets/iphonexs.jpg');
    border-radius:10px;
    width:1024px;
    height:576px;
    margin-bottom:20px;
    margin-left:260px;
}
header #content .iphonexr{
    background-image: url('../assets/iphonexr.jpg');
    border-radius:10px;
    width:1024px;
    height:576px;
    margin-bottom:20px;
    margin-left:260px;
}
footer{
    text-align: center;
    background-color: black;
    height:40px;
    width:100%;
}